@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #002339;
  color: #fff;
}

.container {
  margin: 12%; /* % - specifies a margin in % of the width of the containing element. */
  width: 90%; /* % - specifies a width in % of the width of the containing element. */
  max-width: 700px;
}

.container h1 {
  font-size: 45px;
  font-weight: 500;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.container .display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container .display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.container .display img {
  width: 30px;
  cursor: pointer;
}

.container .button {
  border: 0;
  outline: 0;
  background-color: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

.container .button img {
  width: 28px;
  margin-right: 10px;
}
